<!-- footer start here -->
<div class="container-fluid footer">
    <div class="row py-5">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <img src="../../../../../assets/images/logo/blingg-logo-regular.png" class="img-fluid object-fit-cover"
                alt="no image">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <h3 class="text-uppercase">About Us</h3>
            <li>
                <a href="#" class="text-decoration-none">Customer Store</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none">About</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none">Contact</a>
            </li>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <h3 class="text-uppercase">Shop</h3>
            <li>
                <a href="#" class="text-decoration-none">Rings</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none">Bracelets</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none">Earrings</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none">Necklaces</a>
            </li>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <h3 class="text-uppercase">Address</h3>
            <div class="address-details">
                <p>123, Alankar plaza, Central spine,</p>
                <p> Vidyadhar nagar Jaipur, Rajasthan</p>
            </div>
            <li>
                <a href="#" class="text-decoration-none">abc123@gmail.com</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none">123-456-7890</a>
            </li>
        </div>
    </div>
    <hr class="">
    <div class="copyright">
        <p class="py-3">Copyright © 2023 Blingg Jewellery | Powered by Blingg Jewellery</p>
    </div>
</div>
<!-- footer end here -->