<div class="container-fluid store-banner">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="banner-content">
                <p class="banner-sub-heading">NEW COLLECTION</p>
                <h1 class="banner-main-heading">THE NEW RING SENSATION</h1>
                <p class="banner-paragraph ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.</p>
                <button type="button" class="btn btn-default rounded-0 custom-shop-now-btn">SHOP NOW</button>
            </div>
        </div>
    </div>
</div>
<!-- swiper start here -->
<swiper-container class="mx-4 my-4 " navigation="true" slides-per-view="3" css-mode="true" speed="800">
    <swiper-slide class="border">
        <img src="../../../../../assets/images/swiper/swiper-1.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-2.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-3.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-4.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-5.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-6.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-7.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-8.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-9.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-10.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-11.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-12.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
</swiper-container>
<!-- swiper end here -->