<div class="container-fluid store-banner">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="banner-content">
                <p class="banner-sub-heading">NEW COLLECTION</p>
                <h1 class="banner-main-heading">THE NEW RING SENSATION</h1>
                <p class="banner-paragraph ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.</p>
                <button type="button" class="btn btn-default rounded-0 custom-shop-now-btn">SHOP NOW</button>
            </div>
        </div>
    </div>
</div>