<div class="container-fluid store-banner">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="banner-content">
                <p class="banner-sub-heading">NEW COLLECTION</p>
                <h1 class="banner-main-heading">THE NEW RING SENSATION</h1>
                <p class="banner-paragraph ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                    luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.</p>
                <button type="button" class="btn btn-default rounded-0 custom-shop-now-btn">SHOP NOW</button>
            </div>
        </div>
    </div>
</div>
<!-- swiper start here -->
<swiper-container class="mx-4 my-4 " navigation="true" slides-per-view="3" css-mode="true" speed="800">
    <swiper-slide class="border">
        <img src="../../../../../assets/images/swiper/swiper-1.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-2.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-3.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-4.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-5.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-6.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-7.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-8.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-9.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-10.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-11.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
    <swiper-slide class="border ms-3">
        <img src="../../../../../assets/images/swiper/swiper-12.png" class="img-fluid object-fit-cover" alt="no image">
    </swiper-slide>
</swiper-container>
<!-- swiper end here -->

<!-- products start here -->
<div class="container-fluid">
    <h1 class="products-header pt-5 pb-2">Products</h1>
    <div class="row mx-1">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
            <mat-card class="shadow-sm position-relative">
                <img src="https://websitedemos.net/blingg-jewelry-store-04/wp-content/uploads/sites/1119/2022/08/bracelet-01-a.jpg"
                    class="img-fluid object-fit-cover product-image" alt="no image" mat-card-image>
                <mat-card-header>
                    <mat-card-title>Product card 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>$1,700.00</mat-card-content>

                <mat-card-actions class="position-absolute material-card-actions">
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
            <mat-card class="shadow-sm position-relative">
                <img src="https://websitedemos.net/blingg-jewelry-store-04/wp-content/uploads/sites/1119/2022/08/bracelet-01-a.jpg"
                    class="img-fluid object-fit-cover product-image" alt="no image" mat-card-image>
                <mat-card-header>
                    <mat-card-title>Product card 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>$1,700.00</mat-card-content>

                <mat-card-actions class="position-absolute material-card-actions">
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
            <mat-card class="shadow-sm position-relative">
                <img src="https://websitedemos.net/blingg-jewelry-store-04/wp-content/uploads/sites/1119/2022/08/bracelet-01-a.jpg"
                    class="img-fluid object-fit-cover product-image" alt="no image" mat-card-image>
                <mat-card-header>
                    <mat-card-title>Product card 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>$1,700.00</mat-card-content>

                <mat-card-actions class="position-absolute material-card-actions">
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
            <mat-card class="shadow-sm position-relative">
                <img src="https://websitedemos.net/blingg-jewelry-store-04/wp-content/uploads/sites/1119/2022/08/bracelet-01-a.jpg"
                    class="img-fluid object-fit-cover product-image" alt="no image" mat-card-image>
                <mat-card-header>
                    <mat-card-title>Product card 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>$1,700.00</mat-card-content>

                <mat-card-actions class="position-absolute material-card-actions">
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<!-- products end here -->

<!-- category start here -->
<div class="container-fluid py-5">
    <h1 class="products-header pt-5 pb-2">Category</h1>
    <div class="row mx-1">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
            <mat-card class="shadow-sm position-relative">
                <img src="https://websitedemos.net/blingg-jewelry-store-04/wp-content/uploads/sites/1119/2022/08/bracelet-01-a.jpg"
                    class="img-fluid object-fit-cover product-image" alt="no image" mat-card-image>
                <mat-card-header>
                    <mat-card-title>Product card 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>$1,700.00</mat-card-content>

                <mat-card-actions class="position-absolute material-card-actions">
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
            <mat-card class="shadow-sm position-relative">
                <img src="https://websitedemos.net/blingg-jewelry-store-04/wp-content/uploads/sites/1119/2022/08/bracelet-01-a.jpg"
                    class="img-fluid object-fit-cover product-image" alt="no image" mat-card-image>
                <mat-card-header>
                    <mat-card-title>Product card 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>$1,700.00</mat-card-content>

                <mat-card-actions class="position-absolute material-card-actions">
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
            <mat-card class="shadow-sm position-relative">
                <img src="https://websitedemos.net/blingg-jewelry-store-04/wp-content/uploads/sites/1119/2022/08/bracelet-01-a.jpg"
                    class="img-fluid object-fit-cover product-image" alt="no image" mat-card-image>
                <mat-card-header>
                    <mat-card-title>Product card 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>$1,700.00</mat-card-content>

                <mat-card-actions class="position-absolute material-card-actions">
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
            <mat-card class="shadow-sm position-relative">
                <img src="https://websitedemos.net/blingg-jewelry-store-04/wp-content/uploads/sites/1119/2022/08/bracelet-01-a.jpg"
                    class="img-fluid object-fit-cover product-image" alt="no image" mat-card-image>
                <mat-card-header>
                    <mat-card-title>Product card 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>$1,700.00</mat-card-content>

                <mat-card-actions class="position-absolute material-card-actions">
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        class="material-icon-btn btn btn-default rounded-pill shadow-sm d-flex align-content-center justify-content-center">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<!-- category end here -->