.material-icon-container {
    display: flex;
    gap: 5px;
}

.material-icon-container .matrial-icon {
    color: #000;
    font-size: 19.5px;
}

.navbar-toggler {
    border: none;
    box-shadow: none;
}

.material-icons {
    font-size: 30px;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
    display: none;
    background-color: #fff;
    border: none;
    border-top: 2px solid #000000B3;
    z-index: 9999;
    transition: all .2s ease;
}

.navbar-nav .nav-item.dropdown .dropdown-menu a {
    color: #000000B3;
    font-size: 14px;
    padding: 10px;
}

.navbar-nav .nav-item.dropdown .dropdown-menu a:hover {
    background-color: #f8f9fa;
    color: black;
}