<nav class="navbar navbar-expand-lg d-flex flex-column bg-white shadow">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="../../../assets/images/logo/blingg-logo-regular.png" class="img-fluid object-fit-cover"
                alt="no image">
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <ng-container *ngIf="!openMenu; else closeMenu">
                <span class="material-icons" (click)="onMenuOpen(true)">menu</span>
            </ng-container>
            <ng-template #closeMenu>
                <span class="material-icons" (click)="onMenuClose(false)">close</span>
            </ng-template>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Customer Store</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Admin Panel
                    </a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Add Product</a></li>
                        <li><a class="dropdown-item" href="#">Add Category</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
            <div class="material-icon-container">
                <mat-icon [ariaHidden]="false" class="matrial-icon">search</mat-icon>
                <mat-icon [ariaHidden]="false" class="matrial-icon">shopping_cart</mat-icon>
            </div>
        </div>
    </div>

    <app-category-panel></app-category-panel>
</nav>